<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag("http://i103.photobucket.com/albums/m128/Kiren_Oshie/ANSARAlogo.png", style: "height: 50px; width: 65px; margin-top: -10px;", class: "img-responsive") %></a>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag("http://1.bp.blogspot.com/-a73IarWQd-I/T2xZcZAlCDI/AAAAAAAAErQ/KU5tOOvCDVs/s1600/Logo_MRSM1.png", style: "height: 50px; width: 75px; margin-top: -10px;", class: "img-responsive") %></a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#homeHeading">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whenwhere">WHEN & WHERE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#classmates">ALUMNI</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gallery">GALLERY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#memories">MEMORIES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header class="img-responsive">
        <div class="header-content">
            <div class="header-content-inner" id="homeHeading">
                <div>
                    <% flash.each do |message_type, message| %>
                      <% if message_type == "success" %>
                          <%= javascript_tag "alert('Your form has been successfully submitted!')" %>
                      <% elsif message_type == "fail" %>  
                          <%= javascript_tag "alert('#{message} \\nPlease resubmit the form')" %>
                      <% end %>    
                    <% end %>
                    <br>
                    <br>
                    <!-- <h2 style="font-family: 'Ludlow-Strong-Ale'; color: white;"><b>MONCHEH’ 07/17</b></h2> -->
                    <%= image_tag("img/moncheh2.png", class: "img-responsive") %>
                    <h1>10<sup>th</sup>&nbsp YEARS&nbsp ANNIVESARY<br>MRSM&nbsp GEMENCHEH’S&nbsp REUNION</h1>
                    <!-- <a href="http://fontmeme.com/calligraphy-fonts/">"http://fontmeme.com/permalink/170224/27fe256e62ff4685dc43f67d23fdef7c.png", alt: "calligraphy-fonts" border="0") %></a> -->
                    <hr>

                    <!-- <iframe src="http://free.timeanddate.com/countdown/i5ly8xkg/n122/cf12/cm0/cu4/ct5/cs1/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs250/szw320/szh135/iso2017-04-15T09:00:00" allowTransparency="true" frameborder="0" width="438" height="72" class="img-responsive" style="margin: auto;"></iframe>  -->
                    
                    <iframe src="https://free.timeanddate.com/countdown/i5mah7wc/n122/cf100/cm0/cu4/ct5/cs1/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs250/szw448/szh72/iso2017-04-15T09:00:00" allowTransparency="true" frameborder="0" width="448" height="72" class="img-responsive" style="margin: auto;"></iframe>
                    
                    <!-- <iframe src="http://free.timeanddate.com/countdown/i5lsml15/n122/cf12/cm0/cu4/ct5/cs1/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs400/szw576/szh243/iso2017-04-15T20:00:00" allowTransparency="true" frameborder="0" width="1252" height="208" style=""></iframe> -->

                    <!-- <iframe src="http://free.timeanddate.com/countdown/i5lpagl6/n122/cf100/cm0/cu4/ct5/cs0/ca0/co0/cr0/ss0/cacfff/cpcfff/pct/tc66c/fs400/szw576/szh243/iso2017-04-15T00:00:00" allowTransparency="true" frameborder="0" width="595" height="200" style="margin-left: 10px; margin-top: -50px;"></iframe>   -->  
                </div>
                <br><br><br>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="whenwhere">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                	<%= image_tag("img/whenwhere.png", class: "img-responsive") %>
                    <hr class="light" style="margin-bottom: -20px; margin-top: -30px;">
                    <%= image_tag("img/quote1.png", class: "img-responsive") %>
                    <!-- <p style="font-size: 20px; color: white">" DON'T COUNT THE YEARS...COUNT THE MEMORIES "</p> -->
                    <p style="font-size: 22px;">There is nothing like returning to a place that remains unchanged to find the ways in which you yourself have altered<br><span style="font-size: 15px; color: white">•••• Nelson Mandela ••••</span></p>
                    <p style="color: coral; font-size: 22px;">Dear alumni,<br>Please lock the date and let's meet there!</p>
                    <br><br>
                </div>
            </div>
            <div class="row text-center">
            	<div class="col-md-4">
            		<div class="well school-tour">
            			<div style="height: 290px;">
            				
            			</div>
                    </div>
                    <div class="well" style="background-color: #464646; border-style: none; margin-top: -25px;">
            			<%= image_tag("img/school_icon.png", style: "height: 80px; width: 80px; margin-top: 10px;") %>
            			<h2>Activities</h2>
            			<hr class="light">
            			<p style="font-size: 16px; color: #FFDAB9; text-align: left;">- Free Walk/School Tour<br><br>- Booths <span style="color: white">you can book a booth to showcase your business there and its open to all including Gemencheh community which means higher opportunities for your business</span><br><br>- Career talk <span style="color: white">Hello alumni freely let us know if you want to share your experience in your field to our junior</span><br><br>- Competition <span style="color: white">of course prizes awaits you!</span><br><br>- Sports Match <span style="color: white">We have new court for this!</span></p>
                        <p style="color: gold;">Saturday, 15 April 2017, 9:00 AM<br>MRSM Gemencheh<br>Negeri Sembilan, Malaysia</p><br><br><br>
            		</div>
            	</div>
            	<div class="col-md-4">
            	    <div class="well photoshoot">
            			<div style="height: 290px;">

    `                   </div>
                    </div>
                    <div class="well" style="background-color: #464646; border-style: none; margin-top: -25px;">
            			<%= image_tag("img/photoshoot.png", style: "height: 70px; width: 70px; margin-top: 10px;") %>
            			<h2>Photoshoot Session</h2>
                        <hr class="light">
                        <br><br><br>
                        <p style="color: #FFDAB9; font-size: 18px;">We do not remember days,<br>We remember moments.<br><span style="color: white; font-size: 16px;"> •••• Cesare Pavese ••••</span></p>
                        <br><br><br>
                        <h3 style="color: gold">Enjoy unlimited photo print at our <span style="color: white">PICABOX PHOTOBOOTH</span></h3>
                        <br><br><br>
            		</div>
            	</div>
            	<div class="col-md-4">
            		<div class="well dinner">
            			<div style="height: 290px;">
            				
            			</div>
                    </div>
                    <div class="well" style="background-color: #464646; border-style: none; margin-top: -25px;">
            			<%= image_tag("img/dinner2.png", style: "height: 90px; width: 90px; margin-top: 10px;") %>
            			<h2 style="margin-top: 0">Sedasawarsa Dinner</h2>
                        <hr class="light">
                        <br>
                        <p style="color: white; font-size: 16px; color: #FFDAB9">" REKINDLE OLD FRIENDSHIP<br>AND<br>CREATING NEW MEMORIES "</p>
                        <br><br>
                        <p style="color: white">P/S there is <span style="color: gold">NO DINNER FEE</span> but we would love if any of you want to provide sponsorship or donation to make this GRAND event more successful! Kindly contact your Batch representatives</p>
                        <br><br>
                        <p style="color: gold">Saturday, 15 April 2017<br>8:00 PM - 11:30 PM<br>MRSM Gemencheh's Hall<br>Negeri Sembilan, Malaysia<br>Dress Code : <b style="color: white">Smart & Casual</b></p>
                        <br><br>
                    </div>
            	</div>

            </div>
            <br><br>
            <div class="row">
                <div class="gallery-footer col-md-8 col-md-offset-2">
                    <h3 class="gallery" style="text-align: center; color: white;">Would you love to send us a video message?</h3>
                    <p class="gallery">For those who can't afford to come and would love to send us a video message dedicated to all pioneers and teachers of MRSM Gemencheh please drop them in this links.</p>
                    <p class="gallery">Link 1 : <a href="https://www.dropbox.com/request/cdcYGjddPd95CYJcwIoD"><b style="color: white">HERE</b></a>
                    <br>
                    OR
                    <br>
                    Link 2 : <a href="https://www.dropbox.com/request/thHVac2hSXRAjwzLEA2I"><b style="color: white">HERE</b></a>
                    </p>
                    <p class="gallery">Both link can be use. Thanks!</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="classmates" class="classmate">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <%= image_tag("img/alumni.png", class: "img-responsive") %>
                    <hr class="light"style="margin-top: -50px;"><br><br>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <%= image_tag("img/alumni/umirah_rasidah.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Umirah</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/azmira.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Azmira</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/amirah.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Amirah</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/marzuki_rostam.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Marzuki</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/adelina.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Adelina</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/bazilah.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Bazilah</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <%= image_tag("img/alumni/lesza.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Iesza</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/nadiah.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Nadiah</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/anuar.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Anuar</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/syira.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Syira</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/marissa.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Marissa</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/syasya.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Syasya</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <%= image_tag("img/alumni/syaza.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Syaza</p>
                    </div>
                    <div class="col-md-2">
                        <%= image_tag("img/alumni/zub_fitri.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Zub & Fitri</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/idayu.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Idayu</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/sayyidah.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Sayyidah</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/haziq.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Haziq</p>
                    </div>
                    <div class="col-md-2">
                    	<%= image_tag("img/alumni/khusairie.png", class: "img-responsive", style: "margin: auto;") %><br>
                        <p style="font-size: 30px; color: gold">Khusairie</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="gallery-footer col-md-6 col-md-offset-3">
	        	        <h3 class="gallery" style="text-align: center; color: white;">Not in the list?</h3>
	                    <p class="gallery">Kindly send your photo and short name to us. We will make it available in the website.</p>
	                    <p class="gallery">Contact : Umie +60176164692</p>
	                </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-primary" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag("img/gallery.png", class: "img-responsive", style: "margin:auto;") %>
                    <hr class="light" style="margin-top: -50px;">
                </div>
            </div>
        </div>
        <br>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <%= image_tag("img/carousel/carousel1.jpg") %>
              </div>

              <div class="item">
                <%= image_tag("img/carousel/carousel2.jpg") %>
              </div>
            
              <div class="item">
                <%= image_tag("img/carousel/carousel3.jpg") %>
              </div>

              <div class="item">
                <%= image_tag("img/carousel/carousel4.jpg") %>
              </div>
              
              <div class="item">
                <%= image_tag("img/carousel/carousel5.jpg") %>
              </div>
              
              <div class="item">
                <%= image_tag("img/carousel/carousel6.jpg") %>
              </div>
          
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br><br>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-2 col-sm-4">
                    <a href="images/1"  class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/1_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/2" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/2_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/3" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/3_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/4" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/4_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/5" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/5_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/6" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/6_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/7" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/7_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/8" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/8_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/9" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/9_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/10" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/10_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/11" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/11_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a href="images/12" class="portfolio-box">
                        <%= image_tag("img/portfolio/thumbnails/12_thumb.jpg", alt: "", class: "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    View
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="memories" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag("img/memories.png", class: "img-responsive", style: "margin: auto") %>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p style="color: white; font-size: 26px;">••• Share with us any best memories you have •••</p><br>
                </div>
            </div>
            <div class="row col-md-8" style="width: 100%;">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="row well memories">
                    	<p style="text-align: left; font-size: 16px;"><br>" Thanks to everyone in GMC i have found memories of life in high school. "<br><br></p>
                    </div>
                    <div class="row well memories" style="margin-top: -21px;">
                    	<div class="col-md-5">
                    		<%= image_tag("img/alumni/syasya.png", class: "img-responsive", style: "margin: auto") %>
                    	</div>
                    	<div class="col-md-7">
                    		<h3 style="margin: auto;"><span style="color: white; text-align: center;">Syasya</span><br>SPM 2011</h3>
                    	</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row well memories">
                    	<p style="text-align: left; font-size: 16px;"><br>" GMC is where we treat our friends like family and our family like friends. "<br><br></p>
                    </div>
                    <div class="row well memories" style="margin-top: -21px;">
                    	<div class="col-md-5">
                    		<%= image_tag("img/alumni/marzuki_rostam.png", class: "img-responsive", style: "margin: auto") %>
                    	</div>
                    	<div class="col-md-7">
                    		<h3 style="margin: auto;"><span style="color: white; text-align: center;">Marzuki</span><br>SPM 2011</h3>
                    	</div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
	                    <div class="row well memories">
	                    	<p style="text-align: left; font-size: 16px;"><br>" Unimaginable that I met my another half here in GMC. "<br><br></p>
	                    </div>
	                    <div class="row well memories" style="margin-top: -21px;">
	                    	<div class="col-md-5">
	                    		<%= image_tag("img/alumni/zub_fitri.png", class: "img-responsive") %>
	                    	</div>
	                    	<div class="col-md-7">
	                    		<h3 style="margin: auto;"><span style="color: white; text-align: center;">Zub & Fitri</span><br>SPM 2008</h3>
	                    	</div>
	                    </div>
	                </div>
                    <div class="col-md-4">
                        <div class="row well memories">
                    	    <p style="text-align: left; font-size: 16px;"><br>" I love everything that's old. Old schools, old friends and old times. I love GMC so much. "<br><br></p>
                        </div>
                    <div class="row well memories" style="margin-top: -21px;">
                    	<div class="col-md-5">
                    		<%= image_tag("img/alumni/umirah_rasidah.png", class: "img-responsive") %>
                    	</div>
                    	<div class="col-md-7">
                    		<h3 style="margin: auto;"><span style="color: white; text-align: center;">Umie</span><br>SPM 2011</h3>
                    	</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                    <div class="gallery-footer col-md-6 col-md-offset-3">
                        <h3 class="gallery" style="text-align: center; color: white;">Have something to share?</h3>
                        <p class="gallery">Kindly send your memories, photo and short name to us. We will make it available in the website.</p>
                        <p class="gallery">Contact : Umie +60176164692</p>
                    </div>
                </div>
        </div>
    </section>
    <section id="rsvp" class="rsvp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag("img/rsvp.png", class: "img-responsive", style: "margin: auto") %>
                    <hr class="light">
                    <p style="text-align: center;">Please reply and indicate whether you will be able to attend</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
				<div class="col-md-8 col-md-offset-2 well" style="opacity: 0.7; background-color: #222222">
					<%= form_for(@detail) do |f| %>
    
					<div class="form-group">
						<div class="col-md-11">
							<%= f.label :name, class: "control-label" %>
							<%= f.text_field :name, class: "form-control", :required => 'required' %>
						</div>
					</div>
      
					<div class="form-group">
						<div class="col-md-11">
							<%= f.label :email, class: "control-label" %>
							<%= f.email_field :email, class: "form-control", :required => 'required' %>
						</div>
					</div>
      
					<div class="form-group">
						<div class="col-md-11">
							<%= f.label :phone, class: "control-label" %>
							<%= f.text_field :phone, class: "form-control", :required => 'required' %>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-4 control-label">
							<%= f.label :attend_ask, "Will You Attend" %>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-7">
							<%= f.radio_button(:attend, "Yes") %>
							<%= f.label :attend_yes, "Yes, I will be there", style: "color: white;" %><br>
							<%= f.radio_button(:attend, "No") %>
							<%= f.label :attend_no, "Sorry, I can't come", style: "color: white;" %>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-4 control-label">
							<%= f.label :batch, "SPM Batch "%>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-7">
							<%= f.select :batch, options_for_select([['2008', 2008], ['2009', 2009], ['2010', 2010], ['2011', 2011], ['2012', 2012], ['2013', 2013], ['2014', 2014], ['2015', 2015], ['2016', 2016]]), {}, {class: "form-control", :required => 'required'} %>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-4 control-label">
							<%= f.label :seat, "Seat to Reserve"%>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-7">
							<%= f.select :seat, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]), {}, {class: "form-control", :required => 'required'} %>
						</div>
					</div>
    
					<div class="form-group">
						<div class="col-md-11">
							<%= f.label :allergy, "Food Allergies", class: "control-label" %>
							<%= f.text_field :allergy, class: "form-control"%>
						</div>
					</div>
      
					<div class="form-group">
						<div class="col-md-11">
							<%= f.label :note, class: "control-label" %>
							<%= f.text_field :note, class: "form-control"%>
						</div>
					</div>
      
					<%= f.submit "Submit", class: "form-control", style: "background-color: #333333; color: gold; border-color: gold;" %>
					<% end %>
				</div>
				<div class="row">
                    <div class="gallery-footer col-md-6 col-md-offset-3">
                        <h3 class="gallery" style="text-align: center; color: gold;">Tshirt Sign Up! Order now! <%= link_to "CLICK HERE", 'https://docs.google.com/forms/d/e/1FAIpQLSef9uq_A0p0zJksQ-BY0uEARRr7yrPrgfXIInGSk46tXW5yGg/viewform'  %></h3>
                        <%= image_tag("img/shirt_design.jpg", class: "img-responsive") %>
                        <br>
                    </div>
                </div>
			</div>       
        </div>
    </section>
    <div class="page-footer" style="margin-left: 10px; margin-top: -50px; color: white;">
        <div class="page-footer-inner">
            2017 &copy; SEDASAWARSA MRSM GEMENCHEH.
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript 
    <script src="creative.js"></script> -->

</body>
